# Database ENV
DB_NAME=oxwall
DB_USER=onfta
DB_PASS=lab@secret
DB_HOST=mysql
DB_PORT=3312

DJANGO_DEBUG=false

# Elasticsearch location ENV
ES_HOST=elasticsearch
ES_PORT=9200

SECRET_KEY_32=DSFSDFdfWEFDSF23FSDF
DJANGO_SECRET_KEY=9mf*dwvhvhssg#_@dzivi-3

# Celery ENV
CELERY_BROKER_URL=redis://redis:6379/0
REDIS_LOCATION=redis://redis:6379/1
C_FORCE_ROOT=true

# Payment ENV
PAYMENT_MODE=test
TEST_PAYPAL_CLIENT_ID=DF0_WDF4XJnosFXs7HKsdfsDdDSFuqw_zbB8OuDfdDFI2cFQf
TEST_PAYPAL_CLIENT_SECRET=EJ6_0_6jgmKa4YfODFKOSDFkFp3feUQhYLtVz0DzDFSDFSDw4fJRNz5rmeIfx
PAYPAL_CLIENT_ID=DF0_WDF4XJnosFXs7HKsdfsDdDSFuqw_zbB8OuDfdDFI2cFQf
PAYPAL_CLIENT_SECRET=EJ6_0_6jgmKa4YfODFKOSDFkFp3feUQhYLtVz0DzDFSDFSDw4fJRNz5rmeIfx

TEST_STRIPE_API_KEY=sk_test_dIh3rdUAUqWa35ub4Im9hO6D
STRIPE_API_KEY=sk_test_dIh3rdUAUqWa35ub4Im9hO6D


DOMAIN=onfta.com

SLACK_API_KEY=dddd-2404815D098-c70a5698b516853DFSF1f86f1be8bc1

# Email ENV
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=bcmoodle2015@gmail.com
EMAIL_HOST_PASSWORD=mxdglrskjhkmpv

# Amazon S3 ENV
DJANGO_AWS_ACCESS_KEY_ID=DSFSDFXdfsdf
DJANGO_AWS_SECRET_ACCESS_KEY=SDFSDfsdffwefSDFdDSF
DJANGO_AWS_STORAGE_BUCKET_NAME=SDFsdfsdSDFSDfDSFSDF

OW_TOKEN=LfWdRwUABBBDff90DdCNhFH6

RECAPTCHA_SECRET_KEY=6LfWdRwUABBBDff90DdCNhFH6XqGT0yxHQ-G
